<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      釣りを楽しもう
    </h2>
    <p class='service-explain'>
      fishingはだれでもかんたんに投稿できる
    </p>
    <p class='service-explain'>
      釣果情報アプリです
    </p>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# FURIMAが選ばれる3つの理由部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      釣りの注意点
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "Ifishing.jpeg", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          毒魚がよく釣れます！
        </h3>
        <p class='reason-list-description'>
          初心者の方は魚を素手で触れないようにしましょう。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "Jfishing.png", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          危険な場所には行かない！
        </h3>
        <p class='reason-list-description'>
          釣りは危険がいっぱいです。釣り場には注意しましょう。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "Kfishing.png", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          体調に気をつけよう！
        </h3>
        <p class='reason-list-description'>
          釣りでは熱中症が特に危険です。自分の体調には十分注意しましょう。
        </p>
      </li>
    </ul>
  </div>
  <%# /FURIMAが選ばれる3つの理由部分 %>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>釣果情報</h2>
    <%= link_to '新規投稿', "#", class: "subtitle" %>
    <ul class='item-lists'>

      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <li class='list'>
        <%= link_to "#" do %>
        <div class='item-img-content'>
          <%= image_tag "item-sample.png", class: "item-img" %>

          <%# 商品が売れていればsold outを表示しましょう %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <%# //商品が売れていればsold outを表示しましょう %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= "商品名" %>
          </h3>
          <div class='item-price'>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>

      <%# 商品がない場合は以下のダミー商品が表示されるようにしましょう %>
      <%# 商品がある場合は表示されないようにしましょう %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "Lfishing.png", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            投稿してね！
          </h3>
          <div class='item-price'>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品がある場合は表示されないようにしましょう %>
      <%# //商品がない場合は以下のダミー商品が表示されるようにしましょう %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= link_to('#', class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>出品する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>